.catalog {
  display: grid;
  gap: $catalog-gap;
  justify-content: center;
  grid-template-columns: repeat(1, $card-width);

  @each $width, $col-number in $breakpoints {
    @media (min-width: $width) {
      grid-template-columns: repeat($col-number, $card-width);
    }
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: $card-height;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
